extends layout

block content
    div.category
        h2= category.name

        div
            h3 Description:
            p=category.description

        div.board
            if products.length
                table(border="1")
                    thead 
                        tr
                            th Name
                    tbody 
                        each product in products
                            tr
                                td 
                                    a(href=product.detailUrl)= product.name
            else
                p This category has no products.
