extends layout

block content
    div.category
        h2= title
        
        form(method="POST")
            label(class= errors && errors.name ? 'error' : '' for="category_name") Name
            span.message(aria-live="polite")= errors && errors.name ? errors.name.msg : 'This is a placeholder'
            label(class= errors && errors.description ? 'error' : '' for="category_description") Description
            span.message(aria-live="polite")= errors && errors.description ? errors.description.msg : 'This is a placeholder'
            button(type="submit") Submit
