extends layout

block content
    div.category
        div.topBar
            div.title
                span.icon.mdi--pets
                h2= title
            div.feature
                a(href='/inventory/categories/create') 
                    span.icon.mdi--add
                    | Add new
        

        ul.list
            each category, index in categories
                li 
                    a(href=category.url) #{index + 1}. #{category.name}

