extends layout

block content
    div.category
        div.topBar
            h2 
                span.icon.mdi--pets
                | #{title}
            div.feature
                a(href='/category/create') 
                    span.icon.mdi--add
                    | Add new
        

        ul.list
            each category, index in categories
                li 
                    a(href=category.url) #{index + 1}. #{category.name}

