extends layout

block content
    div.home
        p #[span Welcome] to our Express website developed
        p.description A very basic #[em Inventory management] app for virtual stores
        div.counts
            h3 Record Counts
            ul
                li #[strong Categories:] #{categories_count}
                li #[strong Products:] #{products_count}

