doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Project Y
        script(type='text/javascript', src='javascripts/index.js', defer)
        link(rel='stylesheet', href='stylesheets/index.css')
    body
        div.container
            header
                button.hamburger(type='button' tabindex)
                    div
                        span.line
                        span.line
                        span.line
                    | Menu

                h1.logo
                    a(href='/')= title

                button.theme(type='button' tabindex)
                    div.icon
                        span.mdi--weather-sunny
                        span.mdi--moon-and-stars
                    | Theme

                block content

            footer This is footer
                