doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Project Y
        script(type='text/javascript', src='javascripts/index.js', defer)
        link(rel='stylesheet', href='stylesheets/index.css')
    body
        div.container
            nav
                div.logo
                    a(href='/')
                        //- img(src='#' alt='logo')
                        h1 Project Y
                ul
                    li
                        a(href='/')
                            iconify-icon.icon(icon="mdi:home", width="1.5em", height="1.5em")
                            div.wrap Home
                        
                    li
                        a(href='/inventory/category')
                            iconify-icon.icon(icon="mdi:pets", width="1.5em", height="1.5em")
                            div.wrap All Categories

                    li
                        a(href='/inventory/products')
                            iconify-icon.icon(icon="tabler:dog-bowl" width="1.5em" height="1.5em")
                            div.wrap All Products

            header
                block header

            main
                block content

            footer This is footer
                