extends layout

block content
    div.product
        div.topBar
            h2
                span.icon.tabler--dog-bowl
                | #{title}
            div.feature
                a(href='/product/create')
                    span.icon.mdi--add
                    | Add new
        
        ul.list
            each product, index in products
                li 
                    a(href=product.detailUrl) #{index + 1}. #{product.name}

