
extends layout

block content
    div.product.detail
        div.topBar
            h2= product.name
            div.feature
                a(href=product.detailUrl+'/delete') 
                    span.icon.mdi--delete
                    | Delete
                a(href=product.detailUrl+'/update') 
                    span.icon.mdi--edit
                    | Update

