extends layout

block content
    div.product
        div.title 
            div.icon
                span.tabler--dog-bowl
            h2= title

        ul.list
            each product, index in products
                li 
                    a(href=product.detailUrl) #{index + 1}. #{product.name}

