.categoryList {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.categoryList .title {
	display: flex;
	align-items: center;
	column-gap: 0.5rem;
}
.categoryList .title .icon {
	width: 30px;
	height: 100%;
}

.categoryList .board {
	flex: 1 1 100%;
}

.categoryList table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

.categoryList table th {
	padding: 15px;
}

.categoryList table a {
	display: inline-block;
	width: 100%;
	padding: 15px;
}

.categoryList table a:hover {
	font-style: italic;
}

/* light scheme */

.light .categoryList table {
	border-color: var(--light-scheme-color);
}
.light .categoryList table th {
	background-color: var(--light-button-link-hover-bgc);
}
.light .categoryList table a:hover {
	background-color: var(--light-table-link-hover-bgc);
	font-weight: 700;
}

/* dark scheme */

.dark .categoryList table {
	border-color: var(--dark-scheme-color);
}

.dark .categoryList table th {
	background-color: var(--dark-button-link-hover-bgc);
}

.dark .categoryList table a:hover {
	background-color: var(--dark-table-link-hover-bgc);
	font-weight: 500;
}

@media (min-width: 500px) {
	.categoryList {
		width: 80%;
		margin: 0 auto;
	}
}
