footer {
	grid-area: footer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 5px;
	border-top: 1px solid transparent;
	padding: 10px;
	background-color: var(--light-scheme-bgc);
	z-index: 1;
}

footer .icon {
	width: 45px;
	height: 45px;
}
