footer {
	grid-area: footer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 5px;
	border-top: 1px solid transparent;
	padding: 10px;
	background-color: var(--light-scheme-bgc);
	z-index: 1;
}

footer .icon {
	width: 45px;
	height: 45px;
}

/* light scheme */
.light footer {
	box-shadow: 0px -5px 5px 1px var(--light-scheme-shadow);
	background-color: var(--light-scheme-bgc);
	color: var(--light-scheme-color);
}

/* dark scheme */
.dark footer {
	border-top-color: var(--light-scheme-shadow);
	background-color: var(--dark-scheme-bgc);
	color: var(--dark-scheme-color);
}

@media (min-width: 768px) {
	footer .icon {
		width: 30px;
		height: 30px;
	}

	.light footer {
		box-shadow: 0px 0px 0px 0px transparent;
		border-top-color: var(--light-scheme-color);
	}
}
