form {
	--light-error-label-color: #911d1d;
	border-radius: 10px;
	border: 2px solid var(--light-scheme-color);
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 10px;
}

form > div {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	width: 100%;
}

form label.error {
	color: var(--light-error-label-color);
}
form label.error > * {
	border-color: var(--light-error-label-color);
}
form label.error + span {
	opacity: 1;
	color: var(--light-error-label-color);
}

/* This label pseudo-class will override error style  */
form label:hover,
form label:focus-within {
	color: var(--light-scheme-highlight-color);
}

form label > * {
	width: 100%;
	border-radius: 10px;
	margin-top: 10px;
	border: 2px solid transparent;
	background-color: var(--light-scheme-bgc);
	padding: 5px;
	min-height: var(--icon-desktop-size);
	color: var(--light-scheme-color);
}

form label:hover > *,
form label > *:focus {
	border-color: var(--light-scheme-highlight-color);
}

form label + span {
	display: inline-block;
	opacity: 0;
}

form > div.uploadImage label > * {
	cursor: pointer;
	max-width: 400px;
	aspect-ratio: 1 / 1;
}

form > div.uploadImage label .image {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 20px;
}
	min-height: 45px;
	color: var(--light-scheme-color);
	background-color: var(--light-scheme-bgc);
	border-radius: 10px;
	border: 1px solid var(--light-scheme-color);
	padding: 10px 20px;
	align-self: center;
}

form button:hover {
	color: var(--dark-scheme-color);
	background-color: var(--light-scheme-highlight-color);
}

/* dark scheme */

.dark form {
	--dark-error-label-color: #ff7575;
	border-color: var(--dark-scheme-color);
	border-width: 1px;
}

.dark form label.error {
	color: var(--dark-error-label-color);
}
.dark form label.error input,
.dark form label.error textarea {
	border-color: var(--dark-error-label-color);
}
.dark form label.error + span {
	opacity: 1;
	color: var(--dark-error-label-color);
}

.dark form label:hover,
.dark form label:focus-within {
	color: var(--dark-scheme-highlight-color);
}

.dark form label input,
.dark form label textarea {
	background-color: var(--dark-button-link-hover-bgc);
	color: var(--dark-scheme-color);
	border-color: transparent;
}

.dark form label input:hover,
.dark form label textarea:hover,
.dark form label input:focus,
.dark form label textarea:focus {
	border-color: var(--dark-scheme-highlight-color);
}

.dark form button {
	color: var(--dark-scheme-color);
	background-color: var(--dark-button-link-hover-bgc);
	border-color: var(--dark-scheme-color);
	border: 0;
}

.dark form button:hover {
	color: var(--light-scheme-color);
	background-color: var(--dark-scheme-highlight-color);
}
