/* normalize */
@import url("https://necolas.github.io/normalize.css/latest/normalize.css");
/* Roboto font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,400;1,700&display=swap");

@import url("layout.css");
@import url("sidebar.css");
@import url("header.css");
@import url("main.css");
@import url("footer.css");

:root {
	--dark-scheme-color: #a1a1a1;
	--dark-scheme-bgc: #121212;

	--light-scheme-color: #000;
	--light-scheme-bgc: #e9e3e3;
	--light-scheme-shadow: #cacdd4;
	--light-button-link--hover-bgc: #a1a1a1;
}

* {
	box-sizing: border-box;
	font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";
}

body {
	overflow: hidden;
}

[hidden] {
	display: none !important;
}

a {
	text-decoration: none;
	color: inherit;
}

p,
h1,
h2,
h3,
ul,
li {
	margin: 0;
	padding: 0;
}

button {
	border: 0;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
	color: inherit;
}

li {
	list-style: none;
}

input,
textarea {
	outline: 0;
}

img {
	max-width: 100%;
	height: auto;
}

img,
svg {
	vertical-align: middle;
}

svg {
	pointer-events: none;
}

.icon span {
	display: inline-block;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
}
