@import url("home.css");

main {
	--main-content-bgc: #e2e8f0;
	grid-area: main;
	display: grid;
	grid-template: 1fr / 1fr;
	position: relative;
}

main .content {
	padding: 15px 10px;
}

/* category and product */
main .category,
main .category div,
main .product {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

main .category .title,
main .product .title {
	display: flex;
	align-items: center;
	column-gap: 0.5rem;
}

main .category .title .icon,
main .product .title .icon {
	width: 30px;
	height: 30px;
}

/* list */
main ul.list {
	display: flex;
	flex-direction: column;
	border: 1px solid transparent;
}

main ul.list li a {
	display: inline-block;
	width: 100%;
	padding: 10px;
}

main ul.list li:not(:last-of-type) a {
	border-bottom: 1px solid transparent;
}
main ul.list li a:hover {
	font-style: italic;
}

/* light scheme */
.light main {
	background-color: var(--main-content-bgc);
	color: var(--light-scheme-color);
}

.light main .content ul.list,
.light main .content ul.list li:not(:last-of-type) a {
	border-color: var(--light-scheme-color);
}

.light main .content ul.list li a:hover {
	background-color: var(--light-list-link-hover-bgc);
}

/* dark scheme */
.dark main {
	background-color: var(--dark-scheme-bgc);
	color: var(--dark-scheme-color);
}

.dark main .content ul.list,
.dark main .content ul.list li:not(:last-of-type) a {
	border-color: var(--dark-scheme-color);
}

.dark main .content ul.list li a:hover {
	background-color: var(--dark-list-link-hover-bgc);
}

@media (min-width: 500px) {
	main .content {
		width: 80%;
		margin: 0 auto;
	}
}

@media (min-width: 768px) {
	main {
		grid-template:
			"sidebar content" 1fr
			"sidebar content" 1fr
			/ auto 1fr;
	}
	.product .title .icon,
	.category .title .icon {
		display: none;
	}
}
