@import url("home.css");
@import url("categoryList.css");
main {
	--main-content-bgc: #e2e8f0;
	grid-area: main;
	display: grid;
	grid-template: 1fr / 1fr;
	position: relative;
}

main .content {
	padding: 15px 10px;
}

main .content > div {
	height: 100%;
}

/* light scheme */
.light main {
	background-color: var(--main-content-bgc);
	color: var(--light-scheme-color);
}

/* dark scheme */
.dark main {
	background-color: var(--dark-scheme-bgc);
	color: var(--dark-scheme-color);
}

@media (min-width: 768px) {
	main {
		grid-template:
			"sidebar content" 1fr
			"sidebar content" 1fr
			/ auto 1fr;
	}
}
